NODE_ENV=development
PORT=5001

CLIENT_URL=
LOCAL_URL=http://localhost:8081

# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://mtemi0690_db_user:commerce123@cluster0.px4lq8y.mongodb.net/ecom-craft-central?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

# Paystack
PAYSTACK_SECRET_KEY=sk_test_6951772ed55613b36d7d100dbf17ae02951eaedc
PAYSTACK_PUBLIC_KEY=pk_test_f7754f4152a7f87bb6234371ce9465a2aa232c99

# Cloudinary (used for product image uploads)
CLOUDINARY_CLOUD_NAME=dxpquojo2
CLOUDINARY_API_KEY=217686661178912
CLOUDINARY_API_SECRET=LiAvc3y-rdtxcy2VH9dTeKDABHM